---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";

---

<PrimaryLayout title="Success">
    <div class="succes success-message container">
        <h1>Merci de nous avoir contactés!</h1>
        <p>Nous avons bien reçu votre message et nous vous répondrons dans les plus brefs délais.</p>
        <a href="/" class="back-home-btn">Retour à l'accueil</a>
    </div>
</PrimaryLayout>