<footer>
    <nav id="primary-nav">
        <ul class="menu">
            <li><a href="/">Acceuil</a></li>
            <li><a href="/joinUs">Nous&nbsp;Joindre</a></li>
            <li><a href="/helpRequest">Aide</a></li>
            <li><a href="/volunteerRequest">Benevolat</a></li>
            <li><a href="#">Activite</a></li>
            <li><a href="/aboutUs">SSO</a></li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=DJR49SARK8EZ2" class="donate"> Donate</a></li>
        </ul>
        <ul class="social-media">
            <li><a href="https://www.facebook.com" target="_blank"><img src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" alt="Facebook"></a></li>
            <li><a href="https://www.linkedin.com" target="_blank"><img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="LinkedIn"></a></li>
            <li><a href="https://x.com/salem_sso?s=21&t=K_KWx1-Jy8RspI0pWcEXVg" target="_blank"><img src="https://img.icons8.com/ios-filled/50/000000/twitter.png" alt="Twitter"></a></li>
        </ul>
    </nav>
</footer>

<style>
    footer {
        background-color: #f8f9fa;
        padding: 20px;
        border-top: 1px solid #dee2e6;

        margin-top: auto;
        
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .social-media {
        margin-top: 0.5rem;
    }

    a{
        text-decoration: none;
        color: currentColor;

        &:hover,
        &:focus-visible {
            color: var(--clr-accent);
        }
    }

    img {
        width: 24px;
        height: 24px;
    }
</style>