@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 400 900;
}

:root{
    --clr-neutral-white:hsl(30deg 100% 100%);
    --clr-neutral-ligth-gray:hsl(30deg 0% 85%);
    --clr-neutral-black:hsl(0deg 0% 0%);
    --bcg-gray-color: hsl(0, 0%, 96%);
    --bcg-body-color: hsl(220, 100%, 99%);
    --text-color: hsl(0, 0%, 0%);

    --clr-yellow: hsl(42deg 100% 61%);
    --clr-orange: hsl(29deg 94% 50%);
    
    --clr-body: var(--clr-neutral-black);
    --clr-accent: var(--clr-orange);

    --ff-base: "Inter", sans-serif;

    --fw-light: 100;
    --fw-regular: 400;
    --fw-semi-bold: 700;
    --fw-bold: 900;

    --brd-radius: .5rem;
}
/* Reset* */
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1,
h2,
h3,
h4{
    font-weight: var(--fw-bold);
    line-height: 1.1;
    text-wrap: balance;
}


p,
li {
    text-wrap: pretty;
    max-width: 65ch;
}

[role="list"] { 
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

html{
    height: 100%;
}

body{
    margin: 0;
    background-color: var(--bcg-body-color);
    color: var(--text-color);
    font-family: var(--ff-base);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main,
section {
    container-type: inline-size;
}
/* Reset-end */

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: .5rem
  }

.visually-hidden { 
    clip: rect(0 0 0 0);
    clip-path: inset (50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.section-margin-end {
    margin-block-end: 1rem;
}

.section-padding {
    padding: 3rem 0;
}